body {
	overflow: auto;
}
div.header {
	display: none;
	position: absolute;
	text-align: center;
	width: 100px;
	left: 57px;
	top: 310px;
	font-size: 10px;
}

div.header p {
	margin: 0px;
}

div.header:target {
	display: block;
}
div.preload {
	display: none;
}

div.container {
	background-image: url("bg.png");
	background-color: white;
	width: 506px;
	height: 390px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

div.container, div {
	background-repeat: no-repeat;
}

div.vertical {
	position: absolute;
	left: 0;
	top: 110px;
	width: 90px;
}
div.vertical div {
	width: 70px;
	height: 60px;
	margin: 10px;
}

div.horizontal {
	position: absolute;
	top: 328px;
	left: 160px;
}

div.horizontal div {
	float: left;
	height: 60px;
	width: 50px;
	margin: 0px;
}

div.belt {
	position: absolute;
	left: 65px;
	top: 35px;
}

div.belt div {
	float: right;
	width: 78px;
	height: 75px;
	margin: 0px;
}


div#down.button_inactive {
	background-image: url("arrow_down_inactive.gif");
	background-color: white;
}

div#down.button_inprogress {
	background-image: url("arrow_down_pending.gif");
	background-color: white;
}

div#down.button_active {
	background-image: url("arrow_down_active.gif");
	background-color: white;
}

div#up.button_inactive {
	background-image: url("arrow_up_inactive.gif");
	background-color: white;
}

div#up.button_inprogress {
	background-image: url("arrow_up_pending.gif");
	background-color: white;
}

div#up.button_active {
	background-image: url("arrow_up_active.gif");
	background-color: white;
}

div#ccw.button_inactive {
	background-image: url("arrow_rot_left_inactive.gif");
	background-color: white;
}

div#ccw.button_inprogress {
	background-image: url("arrow_rot_left_pending.gif");
	background-color: white;
}

div#ccw.button_active {
	background-image: url("arrow_rot_left_active.gif");
	background-color: white;
}

div#cw.button_inactive {
	background-image: url("arrow_rot_right_inactive.gif");
	background-color: white;
}

div#cw.button_inprogress {
	background-image: url("arrow_rot_right_pending.gif");
	background-color: white;
}

div#cw.button_active {
	background-image: url("arrow_rot_right_active.gif");
	background-color: white;
}

div#nov.button_inactive, div#noh.button_inactive {
	background-image: url("stop_inactive.gif");
	background-position: center;
	background-color: white;
}

div#nov.button_active, div#noh.button_active {
	background-image: url("stop_active.gif");
	background-position: center;
	background-color: white;
}

div#nov.button_inprogress, div#noh.button_inprogress {
	background-image: url("stop_pending.gif");
	background-position: center;
	background-color: white;
}

div#belt.button_inactive {
	background-image: url("dig_play.gif");
	background-color: white;
}

div#belt.button_active {
	background-image: url("dig_play_active.gif");
	background-color: white;
}

div#belt.button_inprogress {
	background-image: url("dig_play_pending.gif");
	background-color: white;
}

div#nobelt.button_inactive {
	background-image: url("dig_stop.gif");
	background-color: white;
}

div#nobelt.button_active {
	background-image: url("dig_stop_active.gif");
	background-color: white;
}

div#nobelt.button_inprogress {
	background-image: url("dig_stop_pending.gif");
	background-color: white;
}

div.error_visible {
	position: absolute;
	top: 170px;
	left: 250px;
	width: 250px;
	background-color: yellow;
	border: solid red 4px;
}

div.error_hidden {
	display:none;
}
