div.button_inactive {
	background-color: #ccc;
	width: 50px;
	height: 50px;
	margin: 10px;
}

div.button_inprogress {
	background-color: #c00;
	width: 50px;
	height: 50px;
	margin: 10px;
}

div.button_active {
	background-color: #0c0;
	width: 50px;
	height: 50px;
	margin: 10px;
}

div.horizontal {
	position: fixed;
	top: 0px;
	left: 100px;
}

div.horizontal div {
	float: left;
}

div.vertical {
	position: fixed;
	left: 0;
	top: 100px;
}

div.belt {
	position: fixed;
	left: 200px;
	top: 200px;
}

div.error_visible {
	position: fixed;
	top: 20px;
	bottom: 20px;
	left: 20px;
	right: 20px;
	background-color: #f00;
	color: #ff0;
}

div.error_hidden {
	display:none;
}
